In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
# obtaining data set for location in Indonesia
indonesia = pd.read_csv("https://raw.githubusercontent.com/benangmerah/wilayah/master/datasources/daftar-nama-daerah.csv")

In [3]:
# taking only provinces and the coordinates
indonesia = indonesia[["name", "latitude", "longitude"]][:33]

# adding columns for covid-19 cases
indonesia["confirmed"] = ""
indonesia["recovered"] = ""
indonesia["deaths"] = ""

# rename column 
indonesia = indonesia.rename(columns={'name': 'province'})

#removing "Provinsi" in province column
indonesia["province"] = indonesia["province"].str.split(n=1).str[1]

#adding row below data frame
kalimantan_utara = pd.DataFrame({"province": ["Kalimantan Utara"],
                                "latitude": [3.32500],
                                "longitude": [117.57778]})
indonesia = indonesia.append(kalimantan_utara, ignore_index= True)

indonesia = indonesia.append(pd.DataFrame({"province": ["Under investigation"],
                                           "latitude": [0.7893],
                                           "longitude": [113.9213]}), ignore_index=True)

In [4]:
indonesia.insert(1, 'country', "Indonesia")

In [5]:
# insert the date
indonesia.insert(4, 'date', "4/1/20")

In [6]:
indonesia.sample(6)

,province,country,latitude,longitude,date,confirmed,recovered,deaths
8,Kepulauan Bangka Belitung,Indonesia,-2.741051,106.440587,4/1/20,,,
21,Kalimantan Selatan,Indonesia,-3.092642,115.283758,4/1/20,,,
17,Nusa Tenggara Barat,Indonesia,-8.652933,117.361648,4/1/20,,,
12,Jawa Tengah,Indonesia,-7.150975,110.140259,4/1/20,,,
6,Bengkulu,Indonesia,-3.577847,102.346388,4/1/20,,,
5,Sumatera Selatan,Indonesia,-3.319437,103.914399,4/1/20,,,

In [7]:
# set province as index
indonesia = indonesia.set_index("province")

In [8]:
def fill_case(province_name, confirmed, recovered, deaths):
    """
    province_name: (str) province name
    confirmed, recovered, deaths: (int) number of case
    """
    indonesia.loc[province_name, ["confirmed", "recovered", "deaths"]] = \
    [confirmed,recovered,deaths]

In [9]:
# Data for March 1, 2020 (from https://www.covid19.go.id/situasi-virus-corona/)
fill_case("Aceh", 5,0,0)
fill_case("Bali", 25,10,2)
fill_case("Kepulauan Bangka Belitung", 2,0,1)
fill_case("Banten", 152,7,14)
fill_case("Bengkulu", 1,0,1)
fill_case("Jawa Tengah", 104,0,7)
fill_case("Kalimantan Tengah", 9,0,0)
fill_case("Sulawesi Tengah", 2,0,0)
fill_case("Jawa Timur", 104,17,9)
fill_case("Kalimantan Timur", 21,0,1)
fill_case("Nusa Tenggara Timur", 0,0,0)
fill_case("Gorontalo", 0,0,0)
fill_case("DKI Jakarta", 808,50,85)
fill_case("Jambi", 2,0,0)
fill_case("Lampung", 8,0,0)
fill_case("Maluku", 1,1,0)
fill_case("Kalimantan Utara", 2,0,0)
fill_case("Maluku Utara", 1,0,0)
fill_case("Sulawesi Utara", 3,1,0)
fill_case("Sumatera Utara", 22,0,3)
fill_case("Papua", 10,2,0)
fill_case("Riau", 3,1,0)
fill_case("Kepulauan Riau", 7,0,1)
fill_case("Kalimantan Selatan", 8,0,0)
fill_case("Sulawesi Selatan", 66,0,5)
fill_case("Sumatera Selatan", 5,0,2)
fill_case("Sulawesi Tenggara", 3,0,0)
fill_case("Jawa Barat", 220,11,21)
fill_case("Kalimantan Barat", 10,2,2)
fill_case("Nusa Tenggara Barat", 6,0,0)
fill_case("Papua Barat", 2,0,1)
fill_case("Sulawesi Barat", 1,0,0)
fill_case("Sumatera Barat", 8,0,0)
fill_case("DI Yogyakarta", 28,1,2)
fill_case("Under investigation", 28,0,0)

In [10]:
indonesia

,country,latitude,longitude,date,confirmed,recovered,deaths
province,,,,,,,
Aceh,Indonesia,4.695135,96.749399,4/1/20,5,0,0
Sumatera Utara,Indonesia,2.115355,99.545097,4/1/20,22,0,3
Sumatera Barat,Indonesia,-0.739940,100.800005,4/1/20,8,0,0
Riau,Indonesia,0.293347,101.706829,4/1/20,3,1,0
Jambi,Indonesia,-1.485183,102.438058,4/1/20,2,0,0
Sumatera Selatan,Indonesia,-3.319437,103.914399,4/1/20,5,0,2
Bengkulu,Indonesia,-3.577847,102.346388,4/1/20,1,0,1
Lampung,Indonesia,-4.558585,105.406808,4/1/20,8,0,0
Kepulauan Bangka Belitung,Indonesia,-2.741051,106.440587,4/1/20,2,0,1
Kepulauan Riau,Indonesia,3.945651,108.142867,4/1/20,7,0,1
DKI Jakarta,Indonesia,-6.211544,106.845172,4/1/20,808,50,85
Jawa Barat,Indonesia,-7.090911,107.668887,4/1/20,220,11,21
Jawa Tengah,Indonesia,-7.150975,110.140259,4/1/20,104,0,7
DI Yogyakarta,Indonesia,-7.875385,110.426209,4/1/20,28,1,2
Jawa Timur,Indonesia,-7.536064,112.238402,4/1/20,104,17,9
Banten,Indonesia,-6.405817,106.064018,4/1/20,152,7,14
Bali,Indonesia,-8.409518,115.188916,4/1/20,25,10,2
Nusa Tenggara Barat,Indonesia,-8.652933,117.361648,4/1/20,6,0,0
Nusa Tenggara Timur,Indonesia,-8.657382,121.079371,4/1/20,0,0,0
Kalimantan Barat,Indonesia,-0.278781,111.475285,4/1/20,10,2,2
Kalimantan Tengah,Indonesia,-1.681488,113.382354,4/1/20,9,0,0
Kalimantan Selatan,Indonesia,-3.092642,115.283758,4/1/20,8,0,0
Kalimantan Timur,Indonesia,1.640630,116.419389,4/1/20,21,0,1
Sulawesi Utara,Indonesia,0.624693,123.975002,4/1/20,3,1,0
Sulawesi Tengah,Indonesia,-1.430025,121.445618,4/1/20,2,0,0
Sulawesi Selatan,Indonesia,-3.668799,119.974053,4/1/20,66,0,5
Sulawesi Tenggara,Indonesia,-4.144910,122.174605,4/1/20,3,0,0
Gorontalo,Indonesia,0.699937,122.446724,4/1/20,0,0,0
Sulawesi Barat,Indonesia,-2.844137,119.232078,4/1/20,1,0,0
Maluku,Indonesia,-3.238462,130.145273,4/1/20,1,1,0
Maluku Utara,Indonesia,1.570999,127.808769,4/1/20,1,0,0
Papua Barat,Indonesia,-1.336115,133.174716,4/1/20,2,0,1
Papua,Indonesia,-4.269928,138.080353,4/1/20,10,2,0
Kalimantan Utara,Indonesia,3.325000,117.577780,4/1/20,2,0,0
Under investigation,Indonesia,0.789300,113.921300,4/1/20,28,0,0

In [11]:
# convert columns to numeric
indonesia[["confirmed", "recovered", "deaths"]] = \
indonesia[["confirmed", "recovered", "deaths"]].apply(pd.to_numeric)

In [12]:
# active case
indonesia["active"] = indonesia.confirmed - indonesia.recovered - indonesia.deaths

In [13]:
indonesia.sort_values(by = ["confirmed"], ascending=False)

,country,latitude,longitude,date,confirmed,recovered,deaths,active
province,,,,,,,,
DKI Jakarta,Indonesia,-6.211544,106.845172,4/1/20,808,50,85,673
Jawa Barat,Indonesia,-7.090911,107.668887,4/1/20,220,11,21,188
Banten,Indonesia,-6.405817,106.064018,4/1/20,152,7,14,131
Jawa Timur,Indonesia,-7.536064,112.238402,4/1/20,104,17,9,78
Jawa Tengah,Indonesia,-7.150975,110.140259,4/1/20,104,0,7,97
Sulawesi Selatan,Indonesia,-3.668799,119.974053,4/1/20,66,0,5,61
Under investigation,Indonesia,0.789300,113.921300,4/1/20,28,0,0,28
DI Yogyakarta,Indonesia,-7.875385,110.426209,4/1/20,28,1,2,25
Bali,Indonesia,-8.409518,115.188916,4/1/20,25,10,2,13
Sumatera Utara,Indonesia,2.115355,99.545097,4/1/20,22,0,3,19
Kalimantan Timur,Indonesia,1.640630,116.419389,4/1/20,21,0,1,20
Kalimantan Barat,Indonesia,-0.278781,111.475285,4/1/20,10,2,2,6
Papua,Indonesia,-4.269928,138.080353,4/1/20,10,2,0,8
Kalimantan Tengah,Indonesia,-1.681488,113.382354,4/1/20,9,0,0,9
Lampung,Indonesia,-4.558585,105.406808,4/1/20,8,0,0,8
Kalimantan Selatan,Indonesia,-3.092642,115.283758,4/1/20,8,0,0,8
Sumatera Barat,Indonesia,-0.739940,100.800005,4/1/20,8,0,0,8
Kepulauan Riau,Indonesia,3.945651,108.142867,4/1/20,7,0,1,6
Nusa Tenggara Barat,Indonesia,-8.652933,117.361648,4/1/20,6,0,0,6
Sumatera Selatan,Indonesia,-3.319437,103.914399,4/1/20,5,0,2,3
Aceh,Indonesia,4.695135,96.749399,4/1/20,5,0,0,5
Sulawesi Utara,Indonesia,0.624693,123.975002,4/1/20,3,1,0,2
Sulawesi Tenggara,Indonesia,-4.144910,122.174605,4/1/20,3,0,0,3
Riau,Indonesia,0.293347,101.706829,4/1/20,3,1,0,2
Kepulauan Bangka Belitung,Indonesia,-2.741051,106.440587,4/1/20,2,0,1,1
Sulawesi Tengah,Indonesia,-1.430025,121.445618,4/1/20,2,0,0,2
Jambi,Indonesia,-1.485183,102.438058,4/1/20,2,0,0,2
Papua Barat,Indonesia,-1.336115,133.174716,4/1/20,2,0,1,1
Kalimantan Utara,Indonesia,3.325000,117.577780,4/1/20,2,0,0,2
Bengkulu,Indonesia,-3.577847,102.346388,4/1/20,1,0,1,0
Sulawesi Barat,Indonesia,-2.844137,119.232078,4/1/20,1,0,0,1
Maluku,Indonesia,-3.238462,130.145273,4/1/20,1,1,0,0
Maluku Utara,Indonesia,1.570999,127.808769,4/1/20,1,0,0,1
Nusa Tenggara Timur,Indonesia,-8.657382,121.079371,4/1/20,0,0,0,0
Gorontalo,Indonesia,0.699937,122.446724,4/1/20,0,0,0,0

In [14]:
print("confirmed:",indonesia["confirmed"].sum())
print("recovered:",indonesia["recovered"].sum())
print("deaths:",indonesia["deaths"].sum())
print("active:",indonesia["active"].sum())

confirmed: 1677
recovered: 103
deaths: 157
active: 1417

In [15]:
indonesia.to_csv("data/covid-19/indonesia_1_April_2020.csv")

In [16]:
indonesia.head()

,country,latitude,longitude,date,confirmed,recovered,deaths,active
province,,,,,,,,
Aceh,Indonesia,4.695135,96.749399,4/1/20,5,0,0,5
Sumatera Utara,Indonesia,2.115355,99.545097,4/1/20,22,0,3,19
Sumatera Barat,Indonesia,-0.739940,100.800005,4/1/20,8,0,0,8
Riau,Indonesia,0.293347,101.706829,4/1/20,3,1,0,2
Jambi,Indonesia,-1.485183,102.438058,4/1/20,2,0,0,2