# Connecting to database with python

In [3]:
# Library (you can install using pip command or conda)
import pymysql
import paramiko
import pandas as pd
from paramiko import SSHClient
from sshtunnel import SSHTunnelForwarder
from sqlalchemy.engine import create_engine

In [4]:
# setting sql
mypkey = paramiko.RSAKey.from_private_key_file("D://aplikasi/open_private_key") # private key harus open [1]
sql_hostname = 'db-rep2.evermosa2z.com'
sql_username = 'afrioni'
sql_password = 'kzm8PTm26HJdG6zG' #sql_password
sql_main_database = 'evm' #database name
sql_port = 3306
ssh_host = '18.139.24.27'
ssh_user = 'ubuntu'
ssh_port = 22
ssh_password = "GultoM21"

In [7]:
# connect to server by SSH Tunnel
with SSHTunnelForwarder(
        (ssh_host, ssh_port),
        ssh_username=ssh_user,
        ssh_pkey=mypkey,
        ssh_password=ssh_password,
        remote_bind_address=(sql_hostname, sql_port)
) as tunnel:
    pymysql.cursors.Cursor(host='localhost', user=sql_username,
                           passwd=sql_password, db=sql_main_database,
                           port=.local_bind_port)

TypeError: __init__() got an unexpected keyword argument 'host'

In [ ]:
cur.exe

In [ ]:
# connect to server by SSH Tunnel
with SSHTunnelForwarder(
        (ssh_host, ssh_port),
        ssh_username=ssh_user,
        ssh_pkey=mypkey,
        ssh_password=ssh_password,
        remote_bind_address=(sql_hostname, sql_port)
) as tunnel:
    conn = pymysql.connect(host='localhost', user=sql_username,
                           passwd=sql_password, db=sql_main_database,
                           port=tunnel.local_bind_port)

In [ ]:
    query = '''select 
    date(activationDate) as date, 
    count(distinct id) as reseller
from
	(select
		id,
		activationDate 
	from
		evm.user
	where userType = 2 and isRemoved = 0) data
 where activationDate BETWEEN "2020-06-1" AND CURRENT_TIME
 group by date(activationDate)
 order by date(activationDate)
;'''  #example of the query
    data = pd.read_sql_query(query, conn)
    print(data)
    conn.close()

In [8]:
# connect to server by SSH Tunnel
with SSHTunnelForwarder(
        (ssh_host, ssh_port),
        ssh_username=ssh_user,
        ssh_pkey=mypkey,
        ssh_password=ssh_password,
        remote_bind_address=(sql_hostname, sql_port)
) as tunnel:
    conn = pymysql.connect(host='localhost', user=sql_username,
                           passwd=sql_password, db=sql_main_database,
                           port=tunnel.local_bind_port)
    query = '''select 
    date(activationDate) as date, 
    count(distinct id) as reseller
from
	(select
		id,
		activationDate 
	from
		evm.user
	where userType = 2 and isRemoved = 0) data
 where activationDate BETWEEN "2020-06-1" AND CURRENT_TIME
 group by date(activationDate)
 order by date(activationDate)
;'''  #example of the query
    data = pd.read_sql_query(query, conn)
    print(data)
    conn.close()

          date  reseller
0   2020-06-01       409
1   2020-06-02       405
2   2020-06-03       563
3   2020-06-04       617
4   2020-06-05       704
5   2020-06-06       546
6   2020-06-07       657
7   2020-06-08       725
8   2020-06-09       608
9   2020-06-10       598
10  2020-06-11       764
11  2020-06-12       676
12  2020-06-13       583

In [13]:
# connect to server by SSH Tunnel
server = SSHTunnelForwarder((ssh_host, ssh_port), 
                            ssh_username=ssh_user, 
                            ssh_pkey=mypkey, 
                            ssh_password=ssh_password, 
                            remote_bind_address=(sql_hostname, sql_port))

server.start()

NameError: name 'tunnel' is not defined

In [12]:
print(server.local_bind_port)

52787

In [1]:
# connect to server by SSH Tunnel
with SSHTunnelForwarder(
        (ssh_host, ssh_port),
        ssh_username=ssh_user,
        ssh_pkey=mypkey,
        ssh_password=ssh_password,
        remote_bind_address=(sql_hostname, sql_port)) as tunnel:
    conn = pymysql.connect(host='localhost', user=sql_username,
                           passwd=sql_password, db=sql_main_database,
                           port=tunnel.local_bind_port)
    conn

NameError: name 'SSHTunnelForwarder' is not defined

In [1]:
# connect to server by SSH Tunnel
with SSHTunnelForwarder(
        (ssh_host, ssh_port),
        ssh_username=ssh_user,
        ssh_pkey=mypkey,
        ssh_password=ssh_password,
        remote_bind_address=(sql_hostname, sql_port)) as tunnel:
    conn = pymysql.connect(host='localhost', user=sql_username,
                           passwd=sql_password, db=sql_main_database,
                           port=tunnel.local_bind_port)
    query = '''select username, name from evm.user where isActive = 0 limit 5;'''  #example of the query
    data = pd.read_sql_query(query, conn)
    print(data)
    conn.close()

NameError: name 'SSHTunnelForwarder' is not defined

In [7]:
# pandas
data.head()

                       username                           name
0         rosalinda.luthfi2.634  Rosalinda Luthfi Tristiantika
1               niken.septa.d4b          Niken Septa Arisandhy
2  yuda.anggara.946_die94664369       yuda anggara_die94664456
3                  zainabar.775                       Zainabar
4           titik.suparwati.1a2                Titik Suparwati

## Future Plans

1) We can make function from the code above, in the future we can just simply call the function for making a dataframe <br>
2) Implement the magic function (%sql)

In [8]:
%load_ext sql

In [11]:
%sql mysql+pymysql://afrioni:kzm8PTm26HJdG6zG@127.0.0.1/evm

(pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '127.0.0.1' ([WinError 10061] No connection could be made because the target machine actively refused it)")
(Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### References: <br>
[1] https://www.oracle.com/webfolder/technetwork/tutorials/obe/cloud/ggcs/Change_private_key_format_for_Putty/Change_private_key_format_for_Putty.html#section2 <br>
[2] https://medium.com/@amirziai/query-your-database-over-an-ssh-tunnel-with-pandas-603ce49b35a1